<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="js/script.js" defer></script>
</head>
<body>
    <div class="game-board">
        <img class="fundo" src="imgs/fundo.png" >
        <img class="muro" src="imgs/muro.jpeg" >
        <img class="gd" src="imgs/gdGif.gif" >
        <img class="gameOver" style="left: -160px;" src="./imgs/gameOver.png" >
        <h1 class="gameOverTxt" style="left: 50px;">GAME OVER</h1>
    </div>
    <div style="padding: 20px;">
        <h2>Pulando muro com o Gordão</h2>
        <div style="display: flex; ">
            <label>Pontos:</label>
            <h3 id="counter" style="padding-left: 10px;"> 0 </h3>
        </div>
        <button id="refresh">Jogar Novamente</button>
    </div>
</body>
</html>